---
import BaseLayout from '../../layouts/BaseLayout.astro';
---

<BaseLayout
    title='Significant Other'
    description=''
    image={{ src: 'https://dev-to-uploads.s3.amazonaws.com/uploads/articles/nd8tht3kaw5ennieo6u3.jpeg', alt: 'my so' }}
    showHeader={false}
>
    <h1 class='mb-12 text-2xl leading-tight font-serif italic sm:mb-16 sm:text-4xl'>Haii haii👋</h1>
    <article class='grid grid-cols-1 place-items-center'>
        <!-- images bento container -->
        <section class='my-3 flex flex-row gap-3 flex-wrap'>
            <img src='https://dev-to-uploads.s3.amazonaws.com/uploads/articles/26yhfojuraz58cxidfnn.png' alt='biya' class='h-96 rounded-lg' />
            <img src='https://dev-to-uploads.s3.amazonaws.com/uploads/articles/wgk4l0zf87krsttp13tg.jpeg' alt='biya' class='h-96 rounded-lg' />
            <img src='https://dev-to-uploads.s3.amazonaws.com/uploads/articles/57xf6u6qvu7drbaamf28.jpeg' alt='biya' class='h-96 rounded-lg' />
            <img src='https://dev-to-uploads.s3.amazonaws.com/uploads/articles/z2abycm5m03ry3qq8o7e.jpeg' alt='biya' class='h-96 rounded-lg' />
            <img src='https://dev-to-uploads.s3.amazonaws.com/uploads/articles/0p2qq7lvr3twgkp1it95.jpeg' alt='biya' class='h-96 rounded-lg' />
        </section>
        <p>
            This is Biya. She’s seriously the sweetest person I know. She has her ways of making me smile, even on the roughest days, and she’s always kind to
            everyone around her. Plus, she’s super smart and a hardworking individual, she just gets things done, and it’s really inspiring to see.
        </p>
        <br />
        <section class='my-3 flex flex-row gap-3 flex-wrap'>
            <img src='https://dev-to-uploads.s3.amazonaws.com/uploads/articles/nd8tht3kaw5ennieo6u3.jpeg' alt='biya' class='h-96 rounded-lg' />
            <!-- <img src='https://dev-to-uploads.s3.amazonaws.com/uploads/articles/f2nqlepiszmmue562lpj.jpeg' alt='biya' class='h-96 rounded-full' /> -->
        </section>
        <p>
            And I have to say, she’s absolutely adorable in every way possible. Whether she’s all dressed up or just being her natural self, she’s always
            gorgeous even though she always tells herself otherwise. What I really love about her is how supportive and understanding she is. She knows exactly
            when I need a little extra love or just someone to listen.
        </p>
        <br />
        <div class='my-3 flex flex-row gap-3 flex-wrap'>
            <img src='https://dev-to-uploads.s3.amazonaws.com/uploads/articles/2n8zg0853fkla1ll8nu6.jpeg' alt='biya' class='h-96 rounded-lg' />
        </div>
        <p>
            We balance each other out so well, too. I’m more on the reserved side, and she’s the talkative one, so our conversations are always lively and fun.
            Sure, she has her moments, like being a bit sensitive or sometimes assuming things that aren’t true, but honestly, those quirks just make her who
            she is. I wouldn’t change a thing about her.
        </p>
    </article>
</BaseLayout>
