---
import { getCollection } from 'astro:content';
import BaseLayout from '../../layouts/BaseLayout.astro';
import { getAllTags, getPostsByTag, sortItemsByDateDesc } from '../../utils/data-utils';

const posts = (await getCollection('blog')).sort(sortItemsByDateDesc);
const tags = getAllTags(posts).sort((tagA, tagB) => {
    const postCountTagA = getPostsByTag(posts, tagA.slug).length;
    const postCountTagB = getPostsByTag(posts, tagB.slug).length;
    return postCountTagB - postCountTagA;
});
---

<BaseLayout
    title='Tags'
    description='Explore tag directory for easy navigation and discovery. Find a wide range of topics, articles, and insights organized by tags, making it effortless to locate the content that interests you most.'
    showHeader={false}
>
    <h1 class='mb-12 text-2xl font-serif italic sm:mb-16 sm:text-4xl'>All Tags</h1>
    <div class='flex flex-wrap gap-4'>
        {
            tags.map((tag) => {
                return (
                    <a class='
                    bg-transparent 
                    px-3 py-2 
                    rounded-2xl 
                    border-zinc-400
                    hover:border-zinc-900 
                    dark:border-zinc-700 
                    dark:hover:border-zinc-200 
                    transition-all border
                    ' href={`/tags/${tag.slug}`}>
                        <p>{tag.name}</p>
                    </a>
                );
            })
        }
    </div>
</BaseLayout>
