---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title='404' description='Page Not Found'>
    <p>Oh no! This page doesn't exist. If you expected to see something here, let me know (dewantorafli@gmail.com).</p>
</BaseLayout>
