---
import { marked } from 'marked';
import Button from './Button.astro';
import siteConfig from '../data/site-config';

const hero = siteConfig.hero;
---

{
    (hero?.title || hero?.image?.src || hero?.text || (hero?.actions && hero.actions.length > 0)) && (
        <section class='w-full flex flex-col gap-8 mb-16 sm:mb-24'>
            {hero.title && <h1 class='text-3xl leading-tight font-serif font-medium sm:text-5xl sm:leading-tight'>{hero.title}</h1>}
            {hero.image?.src && (
                <div class='my-8 grid grid-cols-2 grid-rows-4 gap-4 sm:grid-cols-3 sm:grid-rows-3'>
                    {/* image 0 */}
                    <div class='relative row-span-2'>
                        <img
                            alt='My badge on top of a pile of badges from a Vercel meetup we held'
                            fetchpriority='high'
                            decoding='async'
                            data-nimg='fill'
                            class='rounded-lg object-cover'
                            sizes='(max-width: 768px) 213px, 33vw'
                            src='rafli.JPG'
                            style='position: absolute; height: 100%; width: 100%; inset: 0px; color: transparent;'
                        />
                    </div>
                    {/* image 1 */}
                    <div class='relative h-40'>
                        <img
                            src='/neotic-1.JPG'
                            alt='Me speaking on stage at React Summit about the future of Next.js'
                            fetchpriority='high'
                            decoding='async'
                            data-nimg='fill'
                            class='rounded-lg object-cover'
                            sizes='(max-width: 768px) 213px, 33vw'
                            style='position: absolute; height: 100%; width: 100%; inset: 0px; color: transparent;'
                        />
                    </div>
                    {/* image 2 */}
                    <div class='relative row-span-1 sm:row-span-2'>
                        <img
                            alt='Me standing on stage at Reactathon delivering the keynote'
                            fetchpriority='high'
                            decoding='async'
                            data-nimg='fill'
                            class='rounded-lg object-contain object-top sm:object-center'
                            sizes='(max-width: 768px) 213px, 33vw'
                            src='neotic-2.jpeg'
                            style='position: absolute; height: 100%; width: 100%; inset: 0px; color: transparent;'
                        />
                    </div>
                    {/* image 3 */}
                    <div class='relative'>
                        <img
                            src='person-sitting.jpeg'
                            alt='Me and Guillermo Rauch on stage for Vercel Ship, answering questions from the Next.js community'
                            fetchpriority='high'
                            decoding='async'
                            data-nimg='fill'
                            class='rounded-lg object-cover'
                            sizes='(max-width: 768px) 213px, 33vw'
                            style='position: absolute; height: 100%; width: 100%; inset: 0px; color: transparent;'
                        />
                    </div>
                    {/* image 4 */}
                    <div class='relative row-span-2'>
                        <img
                            alt='Me, Lydia, and Delba filming the Next.js Conf keynote'
                            fetchpriority='high'
                            decoding='async'
                            data-nimg='fill'
                            class='rounded-lg object-cover sm:object-center'
                            sizes='(max-width: 768px) 213px, 33vw'
                            src='mirror-selfie.jpg'
                            style='position: absolute; height: 100%; width: 100%; inset: 0px; color: transparent;'
                        />
                    </div>
                </div>
            )}
            {hero.text && <div class='max-w-none prose prose-dante sm:prose-lg' set:html={marked.parse(hero.text)} />}
            {hero.actions && hero.actions.length > 0 && (
                <div class='flex flex-wrap gap-4'>
                    {hero.actions.map((action) => (
                        <Button href={action.href}>{action.text}</Button>
                    ))}
                </div>
            )}
        </section>
    )
}
