<div class='mb-16 sm:mb-24'>
    <h2 class='mb-12 text-xl font-serif italic sm:mb-6 sm:text-2xl'>Playlists</h2>
    <section class='grid max-[480px]:justify-items-center gap-4 grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 2xl:grid-cols-5 p-4'>
        <div class='col-span-2 xl:col-span-3'>
            <iframe
                src='https://open.spotify.com/embed/playlist/4bTotLSSazb1opza7eT1eO?utm_source=generator'
                allowfullscreen=''
                width='100%'
                height='352'
                allow='autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture'
                loading='lazy'></iframe>
        </div>

        <div class='col-span-2'>
            <iframe
                src='https://open.spotify.com/embed/playlist/35mDGNxtZBYSwGTyup7aew?utm_source=generator'
                width='100%'
                height='352'
                allowfullscreen=''
                allow='autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture'
                loading='lazy'></iframe>
        </div>

        <div class='col-span-2'>
            <iframe
                src='https://open.spotify.com/embed/playlist/3mJEzOgfaoSL838DYsdVkz?utm_source=generator'
                width='100%'
                height='352'
                allowfullscreen=''
                allow='autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture'
                loading='lazy'></iframe>
        </div>

        <div class='col-span-2 md:col-span-2 lg:col-span-3 xl:col-span-3 2xl:col-span-3'>
            <iframe
                src='https://open.spotify.com/embed/playlist/5cgQTRDUmrcgnZo1kccjoC?utm_source=generator'
                width='100%'
                height='352'
                allowfullscreen=''
                allow='autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture'
                loading='lazy'></iframe>
        </div>
    </section>
</div>
